.tdl {
    text-transform: capitalize;
}

thead {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
}

#resetAll {
    margin-top: 40px;
    font-size: 1rem;
    padding: 10px;
    margin: 40px auto;
    width: 400px;
    margin-bottom: 20%;
}

.input{
color:black}
